# Offsite Test Q2 - Raw data analytics

 ### Import Library

In [52]:
import pandas as pd

### Import sample data

In [53]:
sample_data=pd.read_csv("Q2_sample_data.txt",delimiter="\t")

In [54]:
sample_data.head()

         date      time   size                              url
0  2017-08-24  10:28:13  13500  /media/thumbnail/fd1140af02.jpg
1  2017-08-24  10:28:13   7050  /media/thumbnail/8b527f7ca8.jpg
2  2017-08-24  10:28:13  18400  /media/thumbnail/b2670bc44f.jpg
3  2017-08-24  10:28:14   6543  /media/thumbnail/bdb3b41b8b.jpg
4  2017-08-24  10:28:14    150                   /media/main.js

### Filter Data - url end with jpg and between 24th Aug to 25th Aug

In [55]:
filter_1 = sample_data[sample_data['url'].str.endswith('jpg')]

In [56]:
filter_2 = filter_1[(filter_1['date'] >= '2017-08-24') & (filter_1['date'] <= '2017-08-25')]

In [57]:
print(filter_2)

          date      time   size                              url
0   2017-08-24  10:28:13  13500  /media/thumbnail/fd1140af02.jpg
1   2017-08-24  10:28:13   7050  /media/thumbnail/8b527f7ca8.jpg
2   2017-08-24  10:28:13  18400  /media/thumbnail/b2670bc44f.jpg
3   2017-08-24  10:28:14   6543  /media/thumbnail/bdb3b41b8b.jpg
5   2017-08-24  10:28:15  24130  /media/thumbnail/8124c8c648.jpg
6   2017-08-24  10:28:17   3401  /media/thumbnail/2ab5f8593a.jpg
7   2017-08-24  10:28:17   5017  /media/thumbnail/64f6312f93.jpg
8   2017-08-24  10:28:17   7210  /media/thumbnail/458f99f4d3.jpg
10  2017-08-25  10:28:17   7210  /media/thumbnail/458f99f4d3.jpg

### Sum of the file size

In [58]:
filter_2['size'].sum()

92461